<!DOCTYPE html>
<html>
<head>
    <title>Upload and Preprocess Image</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Contour Visualization</h1>
    <form action="/preprocess_image" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="image">Select an image:</label></td>
                <td><input type="file" name="image" required></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Upload and Preprocess"></td>
            </tr>
        </table>
    </form>

    {% if num_contours %}
        <h2>{{ num_contours }} contours found in the image.</h2>
        <form action="/mask_image" method="post">
            <table>
                {% for i in range(num_contours) %}
                    <tr>
                        <td><label for="factor_{{ i }}">Factor for contour {{ i }}:</label></td>
                        <td><input type="number" name="factor_{{ i }}" step="0.1" required></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>

        <h1>Contour Visualization Result</h1>
        <h2>Number of Contours: {{ num_contours }}</h2>
        {% if length %}
        {% if width %}
        {% if filename %}
        <table>
            <tr>
                <td colspan="3"  style="text-align: center;"><strong>Caliche Private Limited</strong></td>
                <td colspan="2"><strong>Client Name:</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center;"><strong>Real Time</strong></td>
            </tr>
            <tr>
                <th>Original image</th>
                <th>Serial Number</th>
                <th>Shape</th>
                <th>Length</th>
                <th>Width</th>
            </tr>
            
            {% for i in range(num_contours) %}
               
                <tr>
                    {% if i == 0 %}
                        <td rowspan="{{ num_contours }}"><img src="{{ url_for('static', filename='org_image/' ~ filename) }}"></td>
                    {% endif %}
                    <td>{{ i+1 }}</td>
                    <td><img src="{{ url_for('static', filename='image/contour_' ~ i|string ~ '.png') }}" alt="Contour {{ i+1 }}"></td>
                    <td>{{ length[i] }}</td>
                    <td>{{ width[i] }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endif %}
        {% endif %}
    {% endif %}
</body>
</html>
